# Lähde:
# https://github.com/White-Oak/arch-setup-for-dummies/blob/master/setting-up-ssh-agent.md 
[Unit]
Description=SSH key agent

[Service]
Type=forking
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
