* {
        border:        none;
        border-radius: 0;
        font-family:   "Maple Mono NF", "JetBrains Mono", "Hack Nerd Font";
        font-size:     20px;
        box-shadow:    none;
        text-shadow:   none;
        transition-duration: 0s;
        color: #dcd7ba; 
}


window {
        font-weight:    bold;
        color:  #C8C093;
        background: #363646;    /*#2D4F67;*/
}

#workspaces {
        margin: 0 5px;
}

#workspaces button {
        padding:    0 4px;
}

#workspaces button.visible {
}
#workspaces button.active {
        background-color:       #76946A;
       /* color: ; */
}

#battery, #network, #clock, #custom-power, #pulseaudio, #tray {
    margin: 0px 3px 0px 4px;
    min-width: 20px;
    padding-left: 8pt;
    padding-right: 8pt;     
}

#pulseaudio {
  margin:     0px 3px 0px 1px;
  min-width:  80px;
  color: #C8C093;
  background-color: #2B3328;
}

#tray {
  background-color: #2B3328;
}

#network {
  margin:     0px 3px 0px 1px;
  min-width:  40px;
  background-color: #54546d;
}
#clock {
    /*
        margin:     0px 16px 0px 10px;
    */
}

#custom-power {
  color: #e82424;  
  background-color: #54546d;
}

#custom-qbitstats {
}

#battery {
        color:       #689d6a;
        background-color: #49443C;

}

#battery.critical {
        color:          #fb4934;
}

#battery.good {
        color:          #689d6a;
}

#battery.charging {
        color:      #b8bb26;
}
/*
#network.wifi {
        color:          #689d6a;
}
*/
#network.disconnected {
        color:          #fe8019; 
}

#waybar > box:nth-child(2) > box:nth-child(3) > * > label {
        padding: 0 3px;
}

