{{ if eq .chezmoi.hostname "haapa" }}
preload =~/Kuvat/Taustakuvat/kanagawa_4k.png
wallpaper =DP-1,~/Kuvat/Taustakuvat/kanagawa_4k.png

{{ else if eq .chezmoi.hostname "kaisla" }}
preload =~/Downloads/501188.jpg
wallpaper =DP-1,~/Downloads/501188.jpg
{{ end }}
