
// Templates 
tab_template name="ui" {
  pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
  }
  children
  pane size=2 borderless=true {
      plugin location="zellij:status-bar"
  }
}
  
swap_tiled_layout name="pino" {
  ui max_panes=5 {
    pane split_direction="vertical" {
      pane
      pane {children;}
    }
  }

  ui max_panes=8 {
    pane split_direction="vertical" {
      pane
      pane stacked=true split_direction="horizontal" {
        pane
        pane
        pane
      }
    }
  }
}
  
       
    

