
layout {

  tab {
    pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
    //pane split_direction="vertical" {
    //  pane {
    //    name "Nu"
    //    command "nu"
    //    size "75%"
    //  }
    //  pane split_direction="horizontal" {
    //    pane
    //    pane
    //  }
    //}
    pane name="Nu"
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
