
// Templates 
tab_template name="ui" {
  pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
  }
  children
  pane size=2 borderless=true {
      plugin location="zellij:status-bar"
  }
}
  
swap_tiled_layout name="pysty" {
  ui max_panes=5 {
    pane split_direction="vertical" {
      pane
      pane { children; }
    }
  }

  ui max_panes=8 {
    pane split_direction="horizontal" {
      pane 
    }
  }
}
 

swap_tiled_layout name="pino" {
  ui max_panes=8 {
    pane split_direction="vertical" {
      pane
      pane stacked=true split_direction="horizontal" {
        pane
        pane
        pane
      }
    }
  }
}
       
    
swap_floating_layout name="Kelluva" {
    floating_panes max_panes=10 {
        pane { x "5%"; y 1; width "90%"; height "90%"; }
        pane { x "5%"; y 2; width "90%"; height "90%"; }
        pane { x "5%"; y 3; width "90%"; height "90%"; }
        pane { x "5%"; y 4; width "90%"; height "90%"; }
        pane { x "5%"; y 5; width "90%"; height "90%"; }
        pane { x "5%"; y 6; width "90%"; height "90%"; }
        pane { x "5%"; y 7; width "90%"; height "90%"; }
        pane { x "5%"; y 8; width "90%"; height "90%"; }
        pane { x "5%"; y 9; width "90%"; height "90%"; }
        pane focus=true { x 10; y 10; width "90%"; height "90%"; }
    }
}

